header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vb;
  background-color: rgba(233, 183, 119, 0.7176470588);
}

.logo-nav {
  width: 15vb;
  height: 15vb;
  border-radius: 50%;
  transition: height 600ms, width 600ms;
}
.logo-nav:hover {
  height: 12.5vb;
  width: 12.5vb;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 5vb;
}
.nav-list .li-nav .a-nav {
  text-decoration: none;
  color: #1c1c1c;
}

.a-nav {
  max-width: 2000px;
  font-size: 3.5vb;
  border: 1px ridge #000000;
  padding: 2px;
  background-color: rgba(255, 151, 54, 0.3333333333);
}
.a-nav:hover {
  background-color: rgba(255, 123, 0, 0.3333333333);
  font-weight: 550;
}

footer {
  padding: 2vb;
  background-color: rgba(233, 183, 119, 0.7176470588);
  margin-top: 7vb;
}

.footer-list {
  gap: 4vb;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-list .li-footer {
  display: flex;
}
.footer-list .li-footer .a-footer {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 3.5vb;
  border-radius: 15%;
  margin-top: 1vb;
}
.footer-list .li-footer .a-footer:hover {
  background-color: rgba(255, 123, 0, 0.3333333333);
  font-weight: 800;
}

.li-footer-contactos {
  margin-top: 1vb;
}
.li-footer-contactos .a-footer {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 3.5vb;
  border-radius: 15%;
  margin-top: 10px;
}
.li-footer-contactos .a-footer:hover {
  background-color: rgba(255, 123, 0, 0.3333333333);
  font-weight: 800;
}

.h3-ig {
  border-top: #000000 solid;
  padding-top: 3vb;
  font-size: 2vb;
}

.h3-contactos {
  padding-top: 1vb;
  font-size: 2vb;
}

.h3s {
  border-top: #000000 solid;
  padding-top: 1vb;
  font-size: 20vb;
}

@media screen and (max-width: 821px) {
  .nav-list {
    gap: 2vb;
    font-size: 2vb;
  }
}
@media screen and (max-height: 440px) {
  .nav-list {
    flex-direction: column;
    font-size: 1vb;
  }
}
@media screen and (max-width: 320px) {
  .nav-list {
    flex-direction: column;
    gap: 2.5vb;
    text-align: start;
  }
}
@media screen and (max-width: 570px) {
  .a-nav {
    font-size: 2.5vb;
  }
}
@media screen and (max-width: 365px) {
  .a-footer {
    font-size: 2vb;
  }
}
@media screen and (max-width: 696px) {
  .a-footer {
    font-size: 2.5vb;
  }
}
@media screen and (max-height: 845px) {
  .nav-list {
    flex-direction: column;
    gap: 1.5vb;
  }
}
@media screen and (max-height: 897px) {
  .nav-list {
    flex-direction: column;
  }
}
@media screen and (max-height: 915px) {
  .nav-list {
    flex-direction: column;
  }
}
body {
  background: linear-gradient(to left, #e7e1de, #e7bfaa);
}

.cont-logo {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  justify-content: center;
  row-gap: 5vb;
}

.h1-catalogo {
  text-align: center;
  font-size: 5vb;
  text-shadow: none;
}

@media screen and (max-width: 430px) {
  .h1-catalogo {
    font-size: 3.5vb;
  }
}
.h1-contactos {
  text-align: center;
  font-size: 3vb;
  text-shadow: none;
  text-align: start;
}

h1 {
  text-align: center;
  font-size: 5vb;
  text-shadow: 20px 10px 16px rgb(115, 116, 121);
}

h2 {
  text-align: center;
  font-size: 1.5vb;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 1vb;
}

.contactos {
  text-align: center;
  font-size: 3vb;
  text-shadow: none;
  text-align: start;
}

.logo-unirse {
  margin-top: 5vb;
  text-align: center;
}

.logo-unirseimg {
  border-radius: 50%;
  width: 40vb;
  box-shadow: 5px 20px 24px 1px rgb(66, 68, 90);
}

.formulario-correo, .formulario-nombre {
  margin-top: 2vb;
  text-align: center;
}

.button {
  text-align: center;
}

.button2, .button1 {
  display: inline-block;
  padding: 0, 5%;
  border: 1px ridge #000000;
}

.boton {
  border: none;
  font-size: 1, 8vb;
}
.boton:hover {
  background-color: rgba(148, 148, 148, 0.3333333333);
  font-weight: 600;
}

.cont-quienes {
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 0.5fr;
  justify-content: center;
  row-gap: 8vb;
}

.quienes {
  margin-top: 5vb;
}

.donde, .quienes {
  text-align: center;
  font-size: 3vb;
  text-shadow: none;
  text-align: start;
  text-decoration: underline;
}

p {
  font-size: 2.5vb;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
  background-color: #f3dfb4;
  margin-right: 4%;
  margin-left: 4%;
  border: 5px solid #f3c053;
  padding: 2%;
  margin-top: 2%;
}

.box-vid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.texto-vid {
  font-size: 3vb;
  font-family: "Times New Roman", Times, serif;
  padding: 2%;
  text-align: center;
}

.link-box {
  text-align: center;
  justify-content: center;
}

.video-link {
  border-radius: 5%;
  width: 70%;
  height: 90%;
}

.body-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4vb;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

.title {
  font-size: 4vb;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 15vb;
}

.articulos-img {
  width: 25vb;
  height: 25vb;
  border: 10px groove #f5f5dc;
  border-radius: 10%;
}

.a {
  padding: 10px;
}
.a:visited {
  color: #86812f;
}
.a:hover {
  background-color: #e7c7b6;
  border: 1px ridge #b3b3b3;
}

.container {
  margin-top: 5vb;
  margin-bottom: 5vb;
  margin-top: 5vb;
  margin-bottom: 5vb;
}

#contactos {
  text-align: left;
  font-size: 3vb;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration-line: underline;
  margin-bottom: 3vb;
  margin-left: 2vb;
}

.contactos-lista {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.map {
  width: 100%;
  width: 100%;
}

.location {
  margin: 0px 10% 0px 10%;
  border: 5px solid #f3c053;
  margin: 0px 10% 0px 10%;
}

.articulos-img1 {
  width: 70%;
  height: 70%;
  display: inline-block;
  margin-top: 10vb;
  margin-bottom: 10vb;
  margin-left: 30vb;
  margin-right: 30vb;
  border: 10px groove #f5f5dc;
}

.box-obj {
  display: flex;
  justify-content: center;
  margin-top: 5vb;
}

.box-obj-text {
  display: flex;
  justify-content: center;
}

.individual {
  font-size: 3vb;
  text-decoration-line: underline;
  text-align: center;
  margin-top: 3vb;
  margin-bottom: 3vb;
}

.sumario {
  font-size: 3vb;
  display: flex;
  text-decoration-line: none;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.cantidad {
  font-size: 3vb;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  gap: 2vb;
}

@media screen and (max-width: 1140px) {
  .articulos-img {
    width: 20vb;
    height: 20vb;
  }
}
@media screen and (max-width: 840px) {
  .title {
    font-size: 3vb;
    margin-bottom: 8vb;
  }
  .body-inicio {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 415px) {
  .logo-unirseimg {
    width: 30vb;
  }
  .contLogo {
    grid-template-rows: 4fr 1.5fr 1.5fr 1fr;
    row-gap: 2vb;
  }
  .formulario-nombre {
    font-size: 2.5vb;
  }
  .formulario-correo, .formulario-nombre {
    font-size: 2.5vb;
    margin-top: 1.8vb;
  }
  .articulos-img {
    width: 17vb;
    height: 17vb;
    border: 5px groove #f5f5dc;
    border-radius: 10%;
  }
}
@media screen and (max-width: 310px) {
  .articulos-img {
    width: 13vb;
    height: 13vb;
  }
}
@media screen and (max-width: 420px) {
  .quienes {
    font-size: 2.5vb;
  }
  .cont-quienes {
    row-gap: 4vb;
  }
  .donde, .quienes {
    font-size: 2.5vb;
  }
  p {
    font-size: 1.5vb;
  }
  .texto-vid {
    font-size: 2vb;
  }
  .title {
    font-size: 2vb;
    margin-bottom: 12vb;
  }
}
@media screen and (max-height: 440px) {
  .articulos-img {
    width: 17vb;
    height: 17vb;
  }
}
@media screen and (max-height: 897px) {
  .articulos-img {
    width: 14vb;
    height: 14vb;
  }
}
@media screen and (max-height: 915px) {
  .articulos-img {
    width: 13vb;
    height: 13vb;
  }
}

/*# sourceMappingURL=styles.css.map */
