*{margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;} 

 body {
  display: grid;
  grid-template-rows: 0.5fr 10fr 0.5fr;
  background-color: #e9d1c5;
 }
 .footer {
  background-color: #e9b777b7;
 }

 /* ------header----- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vb;
  background-color: #e9b777b7;
}
.logoNav {
  width: 12vb;
  height: 12vb;
  border-radius: 50%;
}
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 5vb;
}
.nav-list .liNav .aNav {
  text-decoration: none;
  color: #1c1c1c;
}
.aNav {
  font-size: 3.5vb;
  border: 1px ridge #000000;
  padding: 2px;
  background-color: #ff973655;
}
.aNav:hover{
  background-color: #ff7b0055;
  font-weight: 800;
}
@media (max-width: 570px) {
  .aNav {
    font-size: 2.5vb;
  }
}
/* -----unirse------ */

.contLogo {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  justify-content: center;
  row-gap: 5vb;
 }
 h1 {
  text-align: center;
  font-size: 8vb;
  text-decoration: underline #000000;
 }
 h2 {
  text-align: center;
  font-size: 2vb;
  margin-top: 1vb;
 }
 .logoUnirse {
  margin-top: 5vb;
  text-align: center;
 }
 .logoUnirseimg{
  border-radius: 50%;
  width: 80%;
  height: 80%;
 }
 .formularioNombre {
  font-size: 4vb;
  margin-top: 4vb;
 }
 .formularioCorreo {
  font-size: 4vb;
  margin-top: 2vb;
 }
 .button {
  text-align: center;
  font-size: 4vb;
 }
 .button1 {
  display: inline-block;
  margin-right: 10%;
  border: 2px ridge #000000;
  padding: 1%;
}
.button2 {
  display: inline-block;
  border: 2px ridge #000000;
  padding: 1%;
}
.boton:hover{
  background-color: #94949455;
  font-weight: 800;
}
@media (max-width: 415px){
  .logoUnirseimg {
    width: 30vb;
  }
  .contLogo {
    grid-template-rows: 4fr 1.5fr 1.5fr 1fr;
    row-gap: 2vb;
  }
  .formularioNombre {
    font-size: 2.5vb;
  }
  .formularioCorreo {
    font-size: 2.5vb;
    margin-top: 1.8vb;
  }
 }

/* -----quienes------ */

.contQuienes {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  justify-content: center;
  row-gap: 8vb;
 }
 .quienes {
  text-align: left;
  font-size: 3vb;
  font-family: cursive;
  text-decoration-line: underline;
  margin-top: 5vb;
  margin-left: 2%;
  letter-spacing: 1px;
 }
 .donde {
  text-align: left;
  font-size: 3vb;
  font-family: cursive;
  text-decoration-line: underline;
  margin-left: 2%;
  letter-spacing: 1px;
 }
p {
  font-size: 2vb;
  letter-spacing: 1px;
  background-color: #f3dfb4;
  margin-right: 4%;
  margin-left: 4%;
  border: 5px solid #f3c053;
  padding: 2%;
  margin-top: 2%;
}
.boxVid {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .textoVid {
  font-size: 2.5vb;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10%;
}
.linkBox { 
  display: grid;
  justify-content: center;
}
.videoLink {
  border-radius: 5%;
}
@media (max-width: 420px){
  .quienes {
    font-size: 2.5vb;
  }
  .contQuienes {
    row-gap: 4vb;
  }
  .donde {
    font-size: 2.5vb;
  }
  p {
    font-size: 1.5vb;
  }
  .textoVid {
    font-size: 2vb;
  }
 }

/* -----inicio------ */

.bodyInicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4vb;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}
.title {
  font-size: 5vb;
  margin-bottom: 15vb;
}
.title:hover {
  font-weight: 00;
}
.articulosImg {
  width: 30vb ;
  height: 30vb;
  border: 15px groove #f5f5dc;
  border-radius: 10%;
}

@media (max-width: 1140px){
  .articulosImg {
    width: 20vb;
    height: 20vb;
  }
  .title {
    font-size: 5vb;
    margin-bottom: 12vb;
  }
}
@media (max-width: 840px){
  .title {
    font-size: 3vb;
    margin-bottom: 8vb;
  }
  .bodyInicio {
    grid-template-columns: 1fr 1fr;
   }
}
@media (max-width: 415px){
  .articulosImg {
    width: 10vb;
    height: 10vb;
  }
}

/* -----contacos------ */


.container {
  margin-top: 5vb;
  margin-bottom: 5vb;
 }
 .contactos {
  text-align: left;
  font-size: 3vb;
  text-decoration-line: underline;
  margin-bottom: 3vb;
  margin-left: 2vb;
}
li {
  font-size: 2vb;
  letter-spacing: 1px;
}
 .map {
  width: 100%;
 }
.location {
  margin: 0px 10% 0px 10%;
  border: 5px ridge #f3c053;
}
.container {
  margin-top: 5vb;
  margin-bottom: 5vb;
 }
 .map {
  width: 100%;
 }
.location {
  margin: 0px 10% 0px 10%;
  border: 5px ridge #f3c053;
}

/* -----objeto------ */

.articulosImg1 {
  width: 30vb ;
  height: 30vb;
  display: inline-block;
  margin-top: 10vb;
  margin-bottom: 10vb;
  margin-left: 30vb;
  margin-right: 30vb;
  border: 15px groove #f5f5dc;
  border-radius: 10%;
}
.boxObj {
  display: flex;
  justify-content: center;
  margin-top: 5vb;
}
.boxObjText{
  display: flex;
  justify-content: center;
}

h3.individual {
  font-size: 3vb;
  text-decoration-line: underline;
  text-align: center;
  margin-top: 3vb;
  margin-bottom: 3vb;
}
.sumario {
  font-size: 3vb;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  margin-top: 2vb;
  margin-right: 25vb;
}
.cantidad {
  font-size: 3vb;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  margin-top: 3vb;
  margin-right: 27vb;
}
 /* ----------- */


