@import "colors&Box" ;
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2vb;
	background-color: $backgroundHF;
}
.logoNav {
	width: 15vb;
	height: 15vb;
	border-radius: 50%;
	transition: height 600ms, width 600ms ;
	&:hover {
		height: 12.5vb;
		width: 12.5vb;
	}
}

.nav-list {
	list-style-type: none;
	display: flex;
	gap: 5vb;
	.liNav {
		.aNav {
			text-decoration: none;
			color: #1c1c1c;
		}
	}
}
.aNav { max-width: 2000px;
	font-size: 3.5vb;
	border: 1px ridge #000000;
	padding: 2px;
	background-color: #ff973655;
	&:hover {
		background-color: $hoverHF;
		font-weight: 550;
	}
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5vb;
	background-color: $backgroundHF;
	margin-top: 7vb;
}
.footer-list {
	list-style-type: none;
	display: flex;
	gap: 5vb;
	.liFooter {
		.aFooter {
			text-decoration: underline;
			color: #1c1c1c;
		}
	}
}
.aFooter {
	font-size: 3.5vb;
	border-radius: 15%;
	&:hover {
		background-color: $hoverHF;
		font-weight: 800;
	}
}

@media screen and (max-width: 821px) {
    .nav-list {
        gap: 2vb;
        font-size: 2vb;
    }
}
@media screen and (max-height: 440px) {
	.nav-list {
		flex-direction: column;
		font-size: 1vb;
    }
}
@media screen and (max-width: 320px) {
    .nav-list {
		flex-direction: column;
		gap: 2.5vb;
		text-align: start;
    }
}
@media screen and (max-width: 570px) {
	.aNav {
		font-size: 2.5vb;
	}
}
@media screen and (max-width: 365px) {
	.aFooter {
		font-size: 2vb;
	}
}
@media screen and (max-width: 696px) {
	.aFooter {
		font-size: 2.5vb;
	}
}
@media screen and (max-height: 845px) {
	.nav-list {
		flex-direction: column;
		gap: 1.5vb;
	}
}
@media screen and (max-height: 897px) {
	.nav-list {
		flex-direction: column;
	}
}
@media screen and (max-height: 915px) {
	.nav-list {
		flex-direction: column;
	}
}
