@import "colors&Box" ;
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2vb;
	background-color: $backgroundHF;
}
.logo-nav {
	width: 15vb;
	height: 15vb;
	border-radius: 50%;
	transition: height 600ms, width 600ms ;
	&:hover {
		height: 12.5vb;
		width: 12.5vb;
	}
}

.nav-list {
	list-style-type: none;
	display: flex;
	gap: 5vb;
	.li-nav {
		.a-nav {
			text-decoration: none;
			color: #1c1c1c;
		}
	}
}
.a-nav { max-width: 2000px;
	font-size: 3.5vb;
	border: 1px ridge #000000;
	padding: 2px;
	background-color: #ff973655;
	&:hover {
		background-color: $hoverHF;
		font-weight: 550;
	}
}
footer {
	padding: 2vb;
	background-color: $backgroundHF;
	margin-top: 7vb;
}
.footer-list {
	gap: 4vb;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	.li-footer {
		display: flex;
		.a-footer {
			text-decoration: none;
			color: #1c1c1c;
			font-size: 3.5vb;
			border-radius: 15%;
			margin-top: 1vb;
			&:hover {
				background-color: $hoverHF;
				font-weight: 800;
			}
		}
	}
}
.li-footer-contactos {
	margin-top: 1vb;
	.a-footer {
		text-decoration: none;
		color: #1c1c1c;
		font-size: 3.5vb;
		border-radius: 15%;
		margin-top: 10px;
		&:hover {
			background-color: $hoverHF;
			font-weight: 800;
		}
	}
}
.h3-ig {
	border-top: #000000 solid;
	padding-top: 3vb;
	font-size: 2vb;
}
.h3-contactos {
	padding-top: 1vb;
	font-size: 2vb;
}
.h3s {
	border-top: #000000 solid;
	padding-top: 1vb;
	font-size: 20vb;
}

@media screen and (max-width: 821px) {
    .nav-list {
        gap: 2vb;
        font-size: 2vb;
    }
}
@media screen and (max-height: 440px) {
	.nav-list {
		flex-direction: column;
		font-size: 1vb;
    }
}
@media screen and (max-width: 320px) {
    .nav-list {
		flex-direction: column;
		gap: 2.5vb;
		text-align: start;
    }
}
@media screen and (max-width: 570px) {
	.a-nav {
		font-size: 2.5vb;
	}
}
@media screen and (max-width: 365px) {
	.a-footer {
		font-size: 2vb;
	}
}
@media screen and (max-width: 696px) {
	.a-footer {
		font-size: 2.5vb;
	}
}
@media screen and (max-height: 845px) {
	.nav-list {
		flex-direction: column;
		gap: 1.5vb;
	}
}
@media screen and (max-height: 897px) {
	.nav-list {
		flex-direction: column;
	}
}
@media screen and (max-height: 915px) {
	.nav-list {
		flex-direction: column;
	}
}
