@import "header-footer" ;
@import "colors&Box" ;

body {
	background: linear-gradient(to left, #e7e1de, #e7bfaa);
}

.cont-logo {
	display: grid;
	grid-template-rows: 3fr 1fr 1fr 1fr;
	justify-content: center;
	row-gap: 5vb;
}
h1 {
	text-align: center;
	font-size: 5vb;
	text-shadow: 20px 10px 16px rgba(115, 116, 121, 1);
}
.h1-catalogo {

}
h2 {
	text-align: center;
	font-size: 1.5vb;
	font-family: $textFont;
	margin-top: 1vb;
}
.logo-unirse {
	margin-top: 5vb;
	text-align: center;
}
.logo-unirseimg {
	border-radius: 50%;
	width: 40vb;
    box-shadow: 5px 20px 24px 1px rgba(66, 68, 90, 1);
}
.formulario-nombre {
	@extend .formulario-correo ;
}
.formulario-correo {
	margin-top: 2vb;
	text-align: center;
}
.button {
	text-align: center;
}
.button1 {
	@extend .button2 ;
	
}
.button2 {
	display: inline-block;
	padding: 0,5%;
	border: 1px ridge #000000;
}
.boton {
	border: none;
	font-size: 1,8vb;
	&:hover {
		background-color: #94949455;
		font-weight: 600;
	}
}
.cont-quienes {
	display: grid;
	grid-template-rows: 0.5fr 1.5fr 0.5fr;
	justify-content: center;
	row-gap: 8vb;
}
.quienes {
	text-align: left;
	font-size: 3vb;
	font-family: $titleFont;
	text-decoration-line: underline;
	margin-top: 5vb;
	margin-left: 2%;
	letter-spacing: 1px;
}
.donde {
	text-align: left;
	font-size: 3vb;
	font-family: $titleFont;
	text-decoration-line: underline;
	margin-left: 2%;
	letter-spacing: 1px;
}
p {
	font-size: 2.5vb;
	font-family: $textFont;
	letter-spacing: 1px;
	background-color: #f3dfb4;
	margin-right: 4%;
	margin-left: 4%;
	border: $boxType;
	padding: 2%;
	margin-top: 2%;
}
.box-vid {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.texto-vid {
	font-size: 3vb;
	font-family: 'Times New Roman', Times, serif;
	padding: 2%;
	text-align: center;
}
.link-box {
	text-align: center;
	justify-content: center;

}
.video-link {
	border-radius: 5%;
	width: 70%;
	height: 90%;
}
.body-inicio {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 4vb;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
}
.title {
	font-size: 4vb;
	font-family: $titleFont;
	margin-bottom: 15vb;
}
.articulos-img {
	width: 25vb;
	height: 25vb;
	border: 10px groove #f5f5dc;
	border-radius: 10%;
}
.a {
	&:visited{
		color: #86812f;
		}
	&:hover {
		background-color: #e7c7b6;
		border: 1px ridge #b3b3b3;
	}
	padding: 10px;
}
.container {
	margin-top: 5vb;
	margin-bottom: 5vb;
	margin-top: 5vb;
	margin-bottom: 5vb;
}
.contactos {
	text-align: left;
	font-size: 3vb;
	font-family: $titleFont;
	text-decoration-line: underline;
	margin-bottom: 3vb;
	margin-left: 2vb;
}
.contactos-lista {
	font-family: $textFont;
}
.map {
	width: 100%;
	width: 100%;
}
.location {
	margin: 0px 10% 0px 10%;
	border: $boxType;
	margin: 0px 10% 0px 10%;
}
.articulos-img1 {
	width: 70%;
	height: 70%;
	display: inline-block;
	margin-top: 10vb;
	margin-bottom: 10vb;
	margin-left: 30vb;
	margin-right: 30vb;
	border: 10px groove #f5f5dc;
}
.box-obj {
	display: flex;
	justify-content: center;
	margin-top: 5vb;
}
.box-obj-text {
	display: flex;
	justify-content: center;
}
.individual {
	font-size: 3vb;
	text-decoration-line: underline;
	text-align: center;
	margin-top: 3vb;
	margin-bottom: 3vb;
}
.sumario {
	font-size: 3vb;
	display: flex;
	text-decoration-line: none;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
}
.cantidad {
	font-size: 3vb;
	text-decoration-line: none;
	display: flex;
	justify-content: center;
	gap: 2vb;
}
@media screen and (max-width: 1140px) {
	.articulos-img {
		width: 20vb;
		height: 20vb;
	}
}
@media screen and (max-width: 840px) {
	.title {
		font-size: 3vb;
		margin-bottom: 8vb;
	}
	.body-inicio {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 415px) {
	.logo-unirseimg {
		width: 30vb;
	}
	.contLogo {
		grid-template-rows: 4fr 1.5fr 1.5fr 1fr;
		row-gap: 2vb;
	}
	.formulario-nombre {
		font-size: 2.5vb;
	}
	.formulario-correo {
		font-size: 2.5vb;
		margin-top: 1.8vb;
	}
	.articulos-img {
		width: 17vb;
		height: 17vb;
		border: 5px groove #f5f5dc;
	    border-radius: 10%;
	}
}
@media screen and (max-width: 310px) {
	.articulos-img {
		width: 13vb;
		height: 13vb;
	}
}
@media screen and (max-width: 420px) {
	.quienes {
		font-size: 2.5vb;
	}
	.cont-quienes {
		row-gap: 4vb;
	}
	.donde {
		font-size: 2.5vb;
	}
	p {
		font-size: 1.5vb;
	}
	.texto-vid {
		font-size: 2vb;
	}
	.title {
		font-size: 2vb;
		margin-bottom: 12vb;
	}
}
@media screen and (max-height: 440px) {
	.articulos-img {
		width: 17vb;
		height: 17vb;
	}
}
@media screen and (max-height: 897px) {
	.articulos-img {
		width: 14vb;
		height: 14vb;

	}
}
@media screen and (max-height: 915px) {
	.articulos-img {
		width: 13vb;
		height: 13vb;

	}
}